<!--<p id="notice"><%#= notice %></p>-->

<!--<h2>你的购物车</h2>-->

<!--<table>-->
  <%# @cart.line_items.each do |item| %>
<!--  <!--  <tr>-->-->
<!--  <!--    <td><%##=item.quantity %>&times;-->-->
<!--  <!--    </td>-->-->
<!--  <!--    <td><%##=item.product.title %></td>-->-->
<!--  <!--    <td class="item_price"><%##=number_to_currency(item.total_price) %></td>-->-->
<!--  <!--  </tr>-->-->
  <%# end %>

  <%#=render(@cart.line_items) %>

<!--  <tr class="total_line">-->
<!--    <td colspan="2">Total</td>-->
<!--    <td class="total_cell"><%#=number_to_currency(@cart.total_price) %></td>-->
<!--  </tr>-->


<!--</table>-->

<!--<ul>-->
  <%# @cart.line_items.each do |item| %>
<!--    <li><%#=item.quantity %> &times;<%#=item.product.title %></li>-->
  <%# end %>
<!--</ul>-->

<%= render @cart %>